<router-outlet></router-outlet>
<!--
<mat-card class="cardWithShadow">
  <mat-card-content class="p-20">
    <div class="d-flex w-10">
    
      <div class="table-container " >
        <table class="table" style="border: 1px solid #e7e1e1;">
          <thead  >
          <tr >
      

             <th class="table-header" >id Bloc</th>
            <th></th>
            <th class="table-header">Nom Bloc</th>
            <th></th>
            <th class="table-header">Capacité Bloc</th>
            <th></th>
            <th class="table-header">num°des chambres associés</th>
            <th></th>

          </thead>
          <tbody>
          <tr *ngFor='let blocWithChambres of blocsWithChambres' appBlocdirective>
            <td class="table-cell">{{ blocWithChambres.bloc.idBloc }}</td>
             <span></span>
              <td class="table-cell">{{ blocWithChambres.bloc.nomBloc }}</td>
              <span></span>
              <td class="table-cell">{{ blocWithChambres.bloc.capaciteBloc }}</td>
              <span></span>
            
          -->
          
<div *ngIf="blocs">
  <h2>Liste des blocs</h2>
  <ul>
    <li *ngFor="let bloc of blocs">
      <p>ID: {{ bloc.idBloc }}</p>
      <p>Numéro: {{ bloc.nomBloc}}</p>
  
    </li>
  </ul>
</div>
      

           